{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Responsive UI{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
    <header class="header"> 
        <div class="profile">
            <img src="{% static 'images/profile.jpg' %}" alt="User Profile">
            <div class="greeting">
                <h1>Welcome Back! {{ request.user }}</h1>
                <p>Here are the latest Events...</p>
            </div>
        </div>
        <div class="menu-button" onclick="toggleMenu()">☰</div>
    </header>

    <main class="container">
        {% block content %}
        <!-- Page specific content will be inserted here -->
        {% endblock %}
    </main>

    <div class="bottom-nav-container">
        <div class="nav-item">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/home.svg' %}" alt="Home Icon">
                <span>Home</span>
            </a>
        </div>
        <div class="nav-item">
            <a href="{% url 'dashboard' %}">
                <img src="{% static 'images/portfolio.svg' %}" alt="Portfolio Icon">
                <span>Portfolio</span>
            </a>
        </div>
    </div>
    

    <div id="menu" class="menu">
        <div class="menu-header">
    <div class="user-details">
        <div class="profile-pic-wrapper">
            <img src="{% static 'images/profile.jpg' %}" alt="Profile Picture" class="profile-pic">
        </div>
        <div class="user-info">
            <span class="username">{{ request.user }}</span>
            <p class="user-handle">{{ profile.balance }}</p>
        </div>
    </div>
    <span class="close-button" onclick="toggleMenu()">
        <i class="fas fa-times"></i>
    </span>
</div>

        <ul class="menu-items">
            <li><a href="{% url 'profile' %}"><i class="fas fa-user icon-profile"></i>Profile</a></li>
            <li><a href=""><i class="fas fa-tachometer-alt icon-dashboard"></i>Dashboard</a></li>
            <li><a href="{% url 'dashboard' %}"><i class="fas fa-briefcase icon-portfolio"></i>Portfolio</a></li>
            <li class="logout"><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt icon-logout"></i>Logout</a></li>
        </ul>
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>
