{% extends 'base.html' %}

{% block title %}Dashboard - Responsive UI{% endblock %}

{% block content %}
    <div class="event-container">
        <div class="dash-tabs">
            <div class="dash-tab active" onclick="openTab('activeTrades', event)">Active Trades</div>
            <div class="dash-tab" onclick="openTab('closedTrades', event)">Closed Trades</div>
        </div>

        <!-- Content for Active Trades -->
        <div id="activeTrades" class="dash-content active">
            <div class="dash-trade-info">
                <div class="dash-current-value">₹0.5</div>
                <div class="dash-details">
                    <span>₹0.5 Investment</span>
                    <span>₹0 Live Gains</span>
                </div>
            </div>

            {% for event, event_data in grouped_events.items %}
            <div class="dash-trade-card">
                <div class="dash-info">
                    <div class="dash-badge-logo-container">
                        <img src="{{ event.icon.url }}" alt="{{ event.title }}" class="dash-icon">
                    </div>
                    <div class="dash-text">
                        {{ event.title }}
                        <div class="dash-invested">Invested ₹0.5 • Gains ₹0</div>
                    </div>
                </div>
                <a href="{% url 'event_active' event.id %}" class="dash-btn">View</a>
            </div>
            {% endfor %}
        </div>

        <!-- Content for Closed Trades -->
        <div id="closedTrades" class="dash-content">
            <div class="dash-trade-info">
                <div class="dash-current-value">- ₹299836.8</div>
                <div class="dash-details">
                    <span>₹12182256.84 Investment</span>
                    <span>₹-7400 Today's returns</span>
                </div>
            </div>

           
            {% for event in closedevents %}
            <div class="dash-trade-card">
                <div class="dash-info">
                    <div class="dash-badge-logo-container">
                        <img src="{{ event.settled_event.event.icon.url }}" alt="{{ closedevents.event.title }}" class="dash-icon">
                    </div>
                    <div class="dash-text">
                        {{ event.settled_event.event.title }}
                        <div class="dash-invested">Invested ₹0.5 • Gains ₹0</div>
                    </div>
                </div>
                <a href="{% url 'event_closed' event.id %}" class="dash-btn">View</a>
            {% endfor %} 
            
        </div>
    </div>

{% endblock %}
